<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="data source=DESKTOP-LSH8GKM\SQLEXPRESS;Initial Catalog=VendingMachine; persist security info=True; Integrated Security=SSPI;"/>
    <add name="LiteDB" connectionString="Filename=D:\technologii\GitHubDesktop\NagarroRepo\RL_Csharp\Homework_VM\VendingMachine.DataAccessLibrary\DataAcces\database.db; Connection='direct'"/>
  </connectionStrings>
  <appSettings>
    <add key="repoType" value="LiteDB"/>
  </appSettings>
</configuration>