<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="data source=DESKTOP-LSH8GKM\SQLEXPRESS;Initial Catalog=VendingMachine; persist security info=True; Integrated Security=SSPI;"/>
    <add name="LiteDB" connectionString="Filename=D:\technologii\GitHubDesktop\NagarroRepo\RL_Csharp\Homework_VM\VendingMachine.DataAccess\database.db; Connection='direct'"/>
  </connectionStrings>
  <appSettings>
    <add key="repoType" value="InMemory"/>
    <add key="ReportsType" value="XML"/>
    <add key="ReportsFilePath" value="C:\\Reports\\"/>
    <add key="SalesRepositoryDbPath" value="D:\\technologii\\GitHubDesktop\\NagarroRepo\\RL_Csharp\\Homework_VM\\VendingMachine.DataAccess\\SalesRepository\\"/>
    <add key="SalesRepository" value="SQL"/>
    <add key="LoggerConfigFilePath" value="D:\\technologii\\GitHubDesktop\\NagarroRepo\\RL_Csharp\\Homework_VM\\VendingMachine\\log4net.config"/>
  </appSettings>
</configuration>